PROJETO 1 - ESTATÍSTICA

In [112]:
import pandas as pd

TAREFA 1
Carregue em dataframes os conjuntos de dados referentes ao ano de 2018, 2019 e 2020. Cor-
rija quaisquer erros que apareçam no carregamento dos arquivos. É possível acessar os arquivos
compactados diretamente do site, sem precisar baixá-los?

**É possível sim! Fiz o upload dos arquivos no github e utilizei o raw para lê-los**

In [113]:
dados2018=pd.read_csv("https://raw.githubusercontent.com/lucasEngdComp/estatisticaLucas/main/datatran2018.csv", sep=";", encoding='latin-1')
dados2019 = pd.read_csv("https://raw.githubusercontent.com/lucasEngdComp/estatisticaLucas/main/datatran2019.csv", sep=";", encoding='latin-1')
dados2020 = pd.read_csv("https://raw.githubusercontent.com/lucasEngdComp/estatisticaLucas/main/datatran2020.csv", sep=";", encoding='latin-1')

In [114]:
dados2018.head()

,id,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_acidente,tipo_acidente,...,feridos_graves,ilesos,ignorados,feridos,veiculos,latitude,longitude,regional,delegacia,uop
0,99973.0,2018-01-01,segunda-feira,00:20:00,RJ,116.0,"303,5",RESENDE,Condutor Dormindo,Saída de leito carroçável,...,4,1,0,4,1,"-22,46937","-44,44705",SR-RJ,DEL5/7,UOP03/RJ
1,99976.0,2018-01-01,segunda-feira,00:40:00,SC,282.0,"0,4",FLORIANOPOLIS,Não guardar distância de segurança,Colisão traseira,...,2,1,0,2,2,"-27,59971687","-48,57565694",SR-SC,DEL8/1,UOP01/SC
2,99977.0,2018-01-01,segunda-feira,00:30:00,RJ,493.0,1,ITABORAI,Ultrapassagem Indevida,Colisão frontal,...,0,3,1,1,3,"-22,763901","-42,927532",SR-RJ,DEL5/4,UOP02/RJ
3,99981.0,2018-01-01,segunda-feira,01:15:00,RS,386.0,134,SARANDI,Ingestão de Álcool,Colisão transversal,...,0,2,0,0,2,"-27,953636","-52,916374",SR-RS,DEL9/14,UOP01/RS
4,99982.0,2018-01-01,segunda-feira,00:20:00,RS,293.0,"151,7",CANDIOTA,Falta de Atenção à Condução,Saída de leito carroçável,...,1,0,0,1,1,"-31,395214","-53,78391174",SR-RS,DEL9/11,UOP03/RS

In [115]:
dados2019.head()

,id,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_acidente,tipo_acidente,...,feridos_graves,ilesos,ignorados,feridos,veiculos,latitude,longitude,regional,delegacia,uop
0,182210.0,2019-01-01,terça-feira,01:30:00,SP,116.0,218,GUARULHOS,Falta de Atenção à Condução,Colisão com objeto estático,...,0,0,0,4,1,"-23,46052014","-46,48772478",SR-SP,DEL6/1,UOP01/SP
1,182211.0,2019-01-01,terça-feira,01:30:00,PR,373.0,"177,3",PONTA GROSSA,Falta de Atenção à Condução,Colisão traseira,...,0,0,0,1,1,"-25,05533957","-50,22776753",SR-PR,DEL7/3,UOP01/PR
2,182212.0,2019-01-01,terça-feira,00:45:00,SC,101.0,16,GARUVA,Animais na Pista,Colisão com objeto estático,...,0,0,0,1,1,"-26,1216","-48,8826",SR-SC,DEL8/3,UOP01/SC
3,182214.0,2019-01-01,terça-feira,00:00:00,CE,20.0,"429,5",FORTALEZA,Ingestão de Substâncias Psicoativas,Colisão com objeto estático,...,1,0,0,1,1,"-3,76999","-38,670063",SR-CE,DEL16/1,UOP02/CE
4,182215.0,2019-01-01,terça-feira,01:00:00,MG,381.0,327,NOVA ERA,Falta de Atenção à Condução,Colisão transversal,...,1,1,0,1,2,"-19,7609","-43,0306",SR-MG,DEL4/3,UOP01/MG

In [116]:
dados2020.head()

,id,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_acidente,tipo_acidente,...,feridos_graves,ilesos,ignorados,feridos,veiculos,latitude,longitude,regional,delegacia,uop
0,260031.0,2020-01-01,quarta-feira,01:00:00,TO,153.0,"678,1",GURUPI,Animais na Pista,Atropelamento de Animal,...,5,0,0,5,1,"-11,77460203","-49,10744996",SR-TO,UOP01/TO,NaN
1,260036.0,2020-01-01,quarta-feira,01:00:00,RJ,116.0,178,NOVA IGUACU,Falta de Atenção do Pedestre,Atropelamento de Pedestre,...,0,1,0,0,1,"-22,75223028","-43,4379103",SR-RJ,DEL5/1,UOP02/RJ
2,260037.0,2020-01-01,quarta-feira,01:52:00,SC,101.0,"206,9",SAO JOSE,Ingestão de Álcool,Colisão lateral,...,0,1,0,1,2,"-27,59193546","-48,61824557",SR-SC,DEL8/1,UOP01/SC
3,260038.0,2020-01-01,quarta-feira,01:15:00,RO,364.0,236,CACOAL,Velocidade Incompatível,Saída de leito carroçável,...,1,0,0,1,1,"-11,44624577","-61,43761218",SR-RO,DEL21/2,UOP02/RO
4,260039.0,2020-01-01,quarta-feira,01:30:00,PR,153.0,360,REBOUCAS,Ingestão de Álcool,Capotamento,...,4,0,0,6,1,"-25,67503796","-50,75089805",SR-PR,DEL7/3,UOP04/PR

TAREFA 2:
(a) quantos acidentes ocorreram em cada ano?
Podemos utilizar o médoto shape para verificar a quantidade de acidentes de cada ano.

In [117]:
dados2018.shape[0]

69295

In [118]:
dados2019.shape[0]

67446

In [119]:
dados2020.shape[0]

63447

(b) quantas variáveis cada conjunto de dados registra?
Temos um total de 30 variáveis em 2018.
Temos um total de 30 variáveis em 2019.
Temos um total de 30 variáveis em 2020.

In [120]:
dados2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69295 entries, 0 to 69294
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      69295 non-null  float64
 1   data_inversa            69295 non-null  object
 2   dia_semana              69295 non-null  object
 3   horario                 69295 non-null  object
 4   uf                      69295 non-null  object
 5   br                      69181 non-null  float64
 6   km                      69181 non-null  object
 7   municipio               69295 non-null  object
 8   causa_acidente          69295 non-null  object
 9   tipo_acidente           69295 non-null  object
 10  classificacao_acidente  69295 non-null  object
 11  fase_dia                69295 non-null  object
 12  sentido_via             69295 non-null  object
 13  condicao_metereologica  69295 non-null  object
 14  tipo_pista              69295 non-null  object
 15  tracado_via             69295 non-null  object
 16  uso_solo                69295 non-null  object
 17  pessoas                 69295 non-null  int64
 18  mortos                  69295 non-null  int64
 19  feridos_leves           69295 non-null  int64
 20  feridos_graves          69295 non-null  int64
 21  ilesos                  69295 non-null  int64
 22  ignorados               69295 non-null  int64
 23  feridos                 69295 non-null  int64
 24  veiculos                69295 non-null  int64
 25  latitude                69295 non-null  object
 26  longitude               69295 non-null  object
 27  regional                69295 non-null  object
 28  delegacia               69295 non-null  object
 29  uop                     66040 non-null  object
dtypes: float64(2), int64(8), object(20)
memory usage: 15.9+ MB

In [121]:
dados2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67446 entries, 0 to 67445
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      67446 non-null  float64
 1   data_inversa            67446 non-null  object
 2   dia_semana              67446 non-null  object
 3   horario                 67446 non-null  object
 4   uf                      67446 non-null  object
 5   br                      67351 non-null  float64
 6   km                      67351 non-null  object
 7   municipio               67446 non-null  object
 8   causa_acidente          67446 non-null  object
 9   tipo_acidente           67446 non-null  object
 10  classificacao_acidente  67446 non-null  object
 11  fase_dia                67446 non-null  object
 12  sentido_via             67446 non-null  object
 13  condicao_metereologica  67446 non-null  object
 14  tipo_pista              67446 non-null  object
 15  tracado_via             67446 non-null  object
 16  uso_solo                67446 non-null  object
 17  pessoas                 67446 non-null  int64
 18  mortos                  67446 non-null  int64
 19  feridos_leves           67446 non-null  int64
 20  feridos_graves          67446 non-null  int64
 21  ilesos                  67446 non-null  int64
 22  ignorados               67446 non-null  int64
 23  feridos                 67446 non-null  int64
 24  veiculos                67446 non-null  int64
 25  latitude                67446 non-null  object
 26  longitude               67446 non-null  object
 27  regional                67446 non-null  object
 28  delegacia               67446 non-null  object
 29  uop                     64006 non-null  object
dtypes: float64(2), int64(8), object(20)
memory usage: 15.4+ MB

In [122]:
dados2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63447 entries, 0 to 63446
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      63447 non-null  float64
 1   data_inversa            63447 non-null  object
 2   dia_semana              63447 non-null  object
 3   horario                 63447 non-null  object
 4   uf                      63447 non-null  object
 5   br                      63292 non-null  float64
 6   km                      63292 non-null  object
 7   municipio               63447 non-null  object
 8   causa_acidente          63447 non-null  object
 9   tipo_acidente           63447 non-null  object
 10  classificacao_acidente  63447 non-null  object
 11  fase_dia                63447 non-null  object
 12  sentido_via             63447 non-null  object
 13  condicao_metereologica  63447 non-null  object
 14  tipo_pista              63447 non-null  object
 15  tracado_via             63447 non-null  object
 16  uso_solo                63447 non-null  object
 17  pessoas                 63447 non-null  int64
 18  mortos                  63447 non-null  int64
 19  feridos_leves           63447 non-null  int64
 20  feridos_graves          63447 non-null  int64
 21  ilesos                  63447 non-null  int64
 22  ignorados               63447 non-null  int64
 23  feridos                 63447 non-null  int64
 24  veiculos                63447 non-null  int64
 25  latitude                63447 non-null  object
 26  longitude               63447 non-null  object
 27  regional                63447 non-null  object
 28  delegacia               63447 non-null  object
 29  uop                     63048 non-null  object
dtypes: float64(2), int64(8), object(20)
memory usage: 14.5+ MB

c) quais as cinco cidades brasileiras onde mais ocorreram acidentes em rodovias federais?

In [123]:
five1 = dados2018['municipio'].value_counts().head().to_frame()
five2 = dados2019['municipio'].value_counts().head().to_frame()
five3 = dados2020['municipio'].value_counts().head().to_frame()

In [124]:
# RESULTADO DAS 5 CIDADES EM 2018
five1

           municipio
CURITIBA        1019
SAO JOSE         874
BRASILIA         867
GUARULHOS        755
PALHOCA          688

In [125]:
# RESULTADO DAS 5 CIDADES EM 2019
five2

           municipio
CURITIBA        1094
BRASILIA        1090
SAO JOSE         819
GUARULHOS        717
SERRA            633

In [126]:
# RESULTADO DAS 5 CIDADES EM 2020
five3

           municipio
BRASILIA        1040
CURITIBA         945
GUARULHOS        639
SAO JOSE         629
PALHOCA          593

(d) quantos acidentes com feridos graves aconteceram na Paraíba em 2019?

In [127]:
feridosgraves = dados2019["feridos_graves"] >= 1 # 1 ou 0, onde 0 não há feridos.
feridos = dados2019[feridosgraves]
paraiba = feridos['uf'] == 'PB'
feridos_paraiba = feridos[paraiba]
print(f'Feridos na paraiba: {feridos_paraiba.shape[0]}')

Feridos na paraiba: 414

TAREFA 3:
(a) ranking de acidentes por estado para todos os anos (um só arquivo combinando a
informação dos três anos);

In [128]:
#primeiro, vamos somar os valores dos 3 arquivos e armazenar numa variável.
acidentes2018 = dados2018["uf"].value_counts()
acidentes2019 = dados2019["uf"].value_counts()
acidentes2020 = dados2020["uf"].value_counts()

In [129]:
total = acidentes2018 + acidentes2019 + acidentes2020
total.index.name = 'uf'
total.name = 'totalAcidentes'
total.sort_values(inplace = True, ascending=True)

In [130]:
newDataframe = pd.DataFrame(total)

In [131]:
newDataframe.to_csv('data.csv') # arquivo criado

In [132]:
totalDeAcidentes = pd.read_csv("data.csv")
totalDeAcidentes

    uf  totalAcidentes
0   AM             362
1   AP             456
2   RR             723
3   AC             789
4   TO            1704
5   SE            1745
6   AL            1948
7   DF            2997
8   PA            3036
9   MA            3498
10  PI            3917
11  RN            4186
12  MS            4504
13  PB            4553
14  RO            4647
15  CE            4960
16  MT            6957
17  PE            8008
18  ES            8014
19  GO           10044
20  BA           10469
21  SP           12933
22  RS           13216
23  RJ           13403
24  PR           22828
25  SC           24142
26  MG           26149

In [133]:
#DataFrame.rank(axis=0, method=’average’, numeric_only=None, na_option=’keep’, ascending=True, pct=False)
ranking = totalDeAcidentes['totalAcidentes'].rank(method="min")

b) acidentes por dia da semana para todos os anos (um só arquivo combinando a infor-
mação dos três anos).

In [134]:
s2018 = dados2018["dia_semana"].value_counts()
s2019 = dados2019["dia_semana"].value_counts()
s2020 = dados2020["dia_semana"].value_counts()
totalsemanas = s2018 + s2019 + s2020

In [135]:
totalsemanas.name = 'acidentes'
totalsemanas.index.name = 'dia_semana'

In [136]:
totalsemanas.sort_values(inplace=True, ascending=True)# organizando os valores

In [137]:
#criando um dataframe
semanasday = pd.DataFrame(totalsemanas)
semanasday.to_csv('semanas.csv')

In [138]:
total = pd.read_csv("semanas.csv")

In [139]:
ranking1 = total['acidentes'].rank(method="min")

In [140]:
total

      dia_semana  acidentes
0    terça-feira      24842
1   quarta-feira      25340
2   quinta-feira      26211
3  segunda-feira      27060
4    sexta-feira      30763
5         sábado      32983
6        domingo      32989

TAREFA 4
(a) qual a causa mais frequente e a mais rara de acidentes registrados nos três anos?

In [141]:
frequencia2018 = dados2018['causa_acidente'].value_counts()
frequencia2019 = dados2019['causa_acidente'].value_counts()
frequencia2020 = dados2020['causa_acidente'].value_counts()

AS CAUSAS MAIS FREQUENTES DE CADA ANO USANDO head

In [142]:
frequencia2018.head(5).to_frame()

                                                   causa_acidente
Falta de Atenção à Condução                                 25830
Desobediência às normas de trânsito pelo condutor            7189
Velocidade Incompatível                                      6849
Ingestão de Álcool                                           5201
Não guardar distância de segurança                           4262

In [143]:
frequencia2019.head(5).to_frame()

                                                   causa_acidente
Falta de Atenção à Condução                                 24992
Desobediência às normas de trânsito pelo condutor            8098
Velocidade Incompatível                                      6028
Ingestão de Álcool                                           5419
Não guardar distância de segurança                           4214

In [144]:
frequencia2020.head(5).to_frame()

                                                   causa_acidente
Falta de Atenção à Condução                                 22414
Desobediência às normas de trânsito pelo condutor            8801
Velocidade Incompatível                                      5878
Ingestão de Álcool                                           5070
Defeito Mecânico no Veículo                                  3743

AS CAUSAS MENOS FREQUENTES DE CADA ANO USANDO tail

In [145]:
frequencia2018.tail(5).to_frame()

                                                    causa_acidente
Ingestão de álcool e/ou substâncias psicoativas...             297
Sinalização da via insuficiente ou inadequada                  292
Desobediência às normas de trânsito pelo pedestre              273
Deficiência ou não Acionamento do Sistema de Il...             186
Ingestão de Substâncias Psicoativas                             73

In [146]:
frequencia2019.tail(5).to_frame()

                                                    causa_acidente
Carga excessiva e/ou mal acondicionada                         305
Sinalização da via insuficiente ou inadequada                  247
Fenômenos da Natureza                                          230
Deficiência ou não Acionamento do Sistema de Il...             160
Ingestão de Substâncias Psicoativas                             94

In [147]:
frequencia2020.tail(5).to_frame()

                                                    causa_acidente
Trafegar com motocicleta (ou similar) entre as ...               1
Ausência de sinalização                                          1
Acumulo de água sobre o pavimento                                1
Ingestão de álcool ou de substâncias psicoativa...               1
Afundamento ou ondulação no pavimento                            1

(b) qual a proporção de pessoas ilesas e de feridos graves por mês em cada um dos anos
considerados? (proporção = numero de ilesos ou feridos graves/ número total de
pessoas envolvidas no acidente);

In [148]:
meses = ["January", "February", "March","April", "May", "June", "July", "August", "September", "October", "November", "December"]

In [149]:
ilesos18ar = dados2018.groupby(pd.DatetimeIndex(dados2018.data_inversa).month)["ilesos"].sum()
ilesos18 = pd.array(ilesos18ar)

In [150]:
feridos18ar = dados2018.groupby(pd.DatetimeIndex(dados2018.data_inversa).month)["feridos_graves"].sum()
feridos18 = pd.array(feridos18ar)

In [151]:
ilesos19ar = dados2019.groupby(pd.DatetimeIndex(dados2019.data_inversa).month)["ilesos"].sum()
ilesos19 = pd.array(ilesos19ar)

In [152]:
feridos19ar = dados2019.groupby(pd.DatetimeIndex(dados2019.data_inversa).month)["feridos_graves"].sum()
feridos19 = pd.array(feridos18ar)

In [153]:
ilesos20ar = dados2020.groupby(pd.DatetimeIndex(dados2020.data_inversa).month)["ilesos"].sum()
ilesos20 = pd.array(ilesos20ar)

In [154]:
feridos20ar = dados2020.groupby(pd.DatetimeIndex(dados2020.data_inversa).month)["feridos_graves"].sum()
feridos20 = pd.array(feridos20ar)

In [159]:
#envolvidos
tota18ar = dados2018.groupby(pd.DatetimeIndex(dados2018.data_inversa).month)["pessoas"].sum()
total18 = pd.array(tota18ar)

In [160]:
tota19ar = dados2019.groupby(pd.DatetimeIndex(dados2019.data_inversa).month)["pessoas"].sum()
total19 = pd.array(tota19ar)

In [161]:
total20ar = dados2020.groupby(pd.DatetimeIndex(dados2020.data_inversa).month)["pessoas"].sum()
total20 = pd.array(total20ar)

In [156]:
#propoção de ilesos nos 3 anos
proporcaoi2018 = ilesos18ar/total18
proporcaoi2019 = ilesos19ar/total19
proporcaoi2020 = ilesos20ar/total20

In [157]:
#propoção de feridos nos 3 anos
proporcaof2018 = feridos18ar/total18
proporcaof2019 = feridos19ar/total19
proporcaof2020 = feridos20ar/total20

In [158]:

dicionario = {"ilesos 2018": proporcaoi2018,"ilesos 2019":proporcaoi2019,"ilesos 2020":proporcaoi2020,"Feridos 2018":proporcaof2018,"Feridos 2019":proporcaof2019,"Feridos 2020":proporcaof2020}
# Transformando os valores em Data Frame e exibindo-os.
totalDados = pd.DataFrame(dicionario,index=meses)
totalDados

,Ilesos 2018,Ilesos 2019,ilesos 2020,Feridos 2018,Feridos 2019,Feridos 2020
January,NaN,NaN,NaN,NaN,NaN,NaN
February,NaN,NaN,NaN,NaN,NaN,NaN
March,NaN,NaN,NaN,NaN,NaN,NaN
April,NaN,NaN,NaN,NaN,NaN,NaN
May,NaN,NaN,NaN,NaN,NaN,NaN
June,NaN,NaN,NaN,NaN,NaN,NaN
July,NaN,NaN,NaN,NaN,NaN,NaN
August,NaN,NaN,NaN,NaN,NaN,NaN
September,NaN,NaN,NaN,NaN,NaN,NaN
October,NaN,NaN,NaN,NaN,NaN,NaN
November,NaN,NaN,NaN,NaN,NaN,NaN
December,NaN,NaN,NaN,NaN,NaN,NaN

c)Mostre, reorganizando o conjunto de dados, se a pandemia conseguiu diminuir ou não
a incidência de acidentes nas rodovias federais.

In [163]:
dados2018.shape[0]

69295

In [164]:
dados2019.shape[0]

67446

In [165]:
dados2020.shape[0]

63447

In [166]:
67446 - 63447

3999

Em 2018 tivemos o maior índice de acidentes envolvendo pessoas no Brasil e em 2019 tivemos uma pequena diminuição.Em 2020 tivemos uma queda drástica nos números de acidentes em relação a 2019, quase 4 mil casos a menos. O fator mais importante foi pandemia, onde tivemos que ficar em casa para tentar combater o vírus. Fazendo com que menos pessoas circulassem com seus veículos nas ruas e diminuindo os riscos e acidentes de trânsito.